@mixin justifyCenter(){
    display: flex;
    justify-content: center;
    align-items: center;
}
  
@font-face {
    font-family: quicksand;
    src: url(../font/Quicksand-VariableFont_wght.ttf);
}

*{
    margin:0;
    padding:0;
    font-family: quicksand;
}
body{
    background-color: #EEEEEE;
    min-height: 100vh;
}
.header{
    width: 100%;
    background: url("../images/header\ pattern\ svg.svg");
    background-color: #25313F;
    @include justifyCenter();
    #logo{
        display: flex;
        align-items: flex-start;
        margin-right: auto;
        margin-left: 28px;
        padding: 10px 0;
        padding-left: 24px;
    }
    nav{
        
        @include justifyCenter();
        .menu{
            text-transform: uppercase;
            list-style: none;
            display: flex;
            justify-self: end;
            li{
                
                color: #3FD28B;
                padding: 19px 0;
                margin-right: 32px;
                font-size: 14px;
                font-weight: bold;
            }
            :nth-child(1){
                color: white;
                border-bottom: 4px solid #ffffff;
            }
        }
        .others{
            list-style: none;
            @include justifyCenter();
            li{
                margin-right: 32px;
                position: relative;
                .alert-group, .anouncement-group{
                    position: relative;
                    color: #FFFFFF;
                }
                .alert-group::after, .anouncement-group::after{
                    content: attr(current-count);
                    position: absolute;
                    top: -15px;
                    right: -10px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: #2A7FF3;
                    @include justifyCenter();
                    font-size: 12px;
                }
                
                .profile-group{
                    position: relative;
                    
                }
                .profile-group::after{
                    content: attr(current-badge);
                    position: absolute;
                    top: -20px;
                    right: -8px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: white;
                    @include justifyCenter();
                    font-size: 12px;
                }
                #burger-icon{
                    display: none;
                }
                
            }
        }
    }
}

@media screen and (max-width: 900px){
    .header {
        nav{
            flex-direction: column-reverse;
            position: relative;
            .menu{
                display: none;
                li{
                    display: block; width: 100%; height: 100%;
                    text-align: center;
                    font-size: 2.5rem;
                    z-index: 2;
                }
            }
            .others{
                li{
                    #burger-icon{
                        display: block;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 998px) {
    .main-body{
        .content-container{
            @include justifyCenter();
            .content{
                display: grid;
                grid-gap: 24px;
                max-width: 576px;
                grid-template-columns: repeat(auto-fit, minmax(auto-fit, 576px));
            }
        }
    }
}

.main-body{
    margin: 32px;
    padding-bottom: auto;
    .course-class{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #8DDC97;
        border-radius: 2px;
        .course{
            border-bottom: 4px solid #222222;
        }
        .class{
            border-bottom: 4px solid #EEEEEE;
        }
        .course, .class{
            @include justifyCenter();
            padding-top: 18px;
            padding-bottom: 14px;
            .course-class-img{
                padding-right: 8px;
            }
            .course-class-count{
                font-size: 24px;
                padding-right: 8px;
                font-weight: bold;
            }
            .course-class-name{
                font-size: 16px;
                font-weight: bold;
            }
        }
    }

    .show-sort{
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        margin-bottom: 17px;
        .show{
            font-size: 12px;
            color: #686868;
            font-weight: 600;
            margin-bottom: 0;
            @include justifyCenter();
            align-items: end;
        }
        .sort{
            @include justifyCenter();
            .sort-label{
                font-size: 12px;
                color: #686868;
                font-weight: 600;
                
            }
            #sort-select{
                width: 165px;
                border: 0;
                background-color: #EEEEEE;
                font-size: 16px;
                font-weight: 600;
                color: #333333;
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                margin-right: 24px;
                margin-left: 6px;
            }
            .Asc-Dsc-Arrow{
                height: fit-content;
                padding: 0;
            }
        }
    }

    .divider{
        border: 1px solid #d5d5d5;
    }
    .content-container{
        .content{
            margin: 16px 0;
            display: grid;
            grid-gap: 24px;
            justify-content: flex-end;
            grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));

            .divider{
                margin: 16px 24px;
    
            }
            div{
                background-color: #FFFFFF;
            }
                div{
                    .details{
                        font-weight: bold;
                        display: grid;
                        grid-template-columns: auto 1fr;
                        align-items: flex-start;
                        padding: 24px 24px 0 0;
                        .image{
                            padding: 0px 16px 0 24px;
                        }
                        .data{
                            height: 100%;
                            align-content: space-between;
                            .name{
                                display: flex;
                                justify-content: center;
                                span{
                                    margin-right: auto;
                                    font-size: 16px;
                                }
                                img{
                                    height: 24px;
                                    width: 20px;
                                }
                            }
                            .subj{
                                span{
                                    font-size: 12px;
                                    color: #666666;
                                }
                                span:nth-of-type(4){
                                    color:#1F7A54;
                                }
                                span:nth-of-type(2){
                                    color:#d5d5d5;
                                }
                            }
                        }
                        .syllabus{
                            font-size: 12px;
                            .no{
                                color: #222222;
                            }
                            .text{
                                color: #666666;
                            }
                        }
                        .teacher{
                            border-bottom:1px solid #d5d5d5;
                            #teacher{
                                font-size: 16px;
                                width: 100%;
                                margin-top: 18px;
                                height: 27px;
                                border: 0;
                                color: #222222;
                                font-weight: bold;
                                option{
                                    color: #222222;
                                    font-weight: bold;
                                }
                            }   
                        }
                        .student-duration{
                            font-size: 12px;
                            color: #666666;
                            font-weight: 500;
                            span:nth-child(2){
                                padding: 0px 8px;
                                color: #d5d5d5;
                            }
                        }
                    }
                    .details-footer{
                        margin: 0px 24px 9px 16px;
                        padding: 0 24px;
                        display: flex;
                        justify-content: space-between;
                    }
                }
                .Expired{
                    .details{
                       padding-top: 5px;
                    }
                    .expired{
                        font-weight: bold;
                        padding: 4px 7px 2px 5px;
                        width: fit-content;
                        font-size: 10px;
                        color: #D80000;
                        background-color: #FFE4E6;
                    }
                }
        }
    }
}

.main-footer{
    position: sticky;
    top: 100%;
    width: 100vw;
    bottom: 0;
    .contact{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 32px 0 16px;
        font-size: 14px;
        padding: 11px 85px;
        margin-top: auto;
        .aboutus, .contactus{
            color: #1F7A54;
            font-family: inherit;
            font-weight: bold;
        }
        .divide{
            padding: 0 4px;
        }
    }
    .footer{
        background-color: #E0E1E1;
        @include justifyCenter();
        height: 40px;
        margin-bottom: 0px;
        .logo-footer{
            margin-right: 16px;
        }
        .divider{
            margin-right: 16px;
        }
        .copyright{
            margin-right: 8px;
            font-family: inherit;
            font-size: 12px;
            color: #616161;
        }
        .zeus{
            margin-right: 11px;
            font-size: 12px;
            font-family: inherit;
            font-weight: bold;
            color: #616161;
        }
        .rights{
            font-size: 12px;
            font-weight: 400;
            color: #616161;
        }
    }
}
.opacityChange{
    opacity: 0.3;
}