
@font-face {
    font-family: quicksand;
    src: url(../font/Quicksand-VariableFont_wght.ttf);
}
*{
    margin:0;
    padding:0;
    font-family: quicksand, sans-serif;
}
html, body{
    background-color: #eeeeee;
    display: grid;
    height: 100%;
}
.container{
    .header{
            background-image: url("../images/header\ pattern\ image.png");
        }
    .form{
        box-sizing: border-box;
        height: fit-content;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        justify-content: center;
        .login{
            box-sizing: border-box;
            height: 580px;
            background-color: white;
            padding: 32px 32px 32px 32px;
            border-top:5px solid #3AC7EC;
            border-radius: 2px;
            width: 488px;
            .formtitle {
                display: flex;
                margin-bottom: 34px;

                .login-title{
                    margin-left: 77px;
                    font-weight: bold;
                    font-size: 24px;
                }
            }
            .main-form{

                .school-type{
                    display: flex;
                    font-size: 16px;
                    font-weight: medium;
                    margin-bottom: 25px;
                    .radio{
                        margin-right: 8px;
                        
                    }
                    .radio-school{
                        margin-left: 32px;
                    }
                }
                .state-selector {
                    .state .district{
                        font-size:12px;
                    }
                    div #state, div #school{
                        width: 424px;
                        height: 25px;
                        border: 0px;
                        border-bottom: 1px solid #eee;
                        margin-bottom: 36px;
                    }
                }
                .email {
                    input[type="text"]{
                        font-family: inherit;
                        font-size: 16px;
                        font-weight: 500;
                        width: 424px;
                        height: 25px;
                        border: 0px;
                        border-bottom:1px solid #eee;
                    }
                }
                .forgot{
                    font-weight: 500;
                    color: #1F7A54;
                    text-decoration: none;
                    display: flex;
                    justify-content: end;
                    margin-bottom: 33px;
                    font-size: 14px;
                }
                .div-pwd{
                    display: flex;
                    border:0;
                    border-bottom: 1px solid #eee;
                    #pwd{
                        width: 400px;
                        border: 0px;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
                .remember{
                    display: flex;
                    font-size: 16px;
                    color: #000;
                    font-weight: 500;
                    margin-bottom: 34px;
                    .remember-text{
                        margin-left: 5px;
                        font-size: 14px;
                    }
                }
                .btn{
                    display: flex;
                    justify-content: center;
                    button{
                        background-color: #3FD28B;
                        font-weight: 500;
                        color: #000;
                        border:0;
                        height: 40px;
                        width: 215px;
                    }
                }
            }
        }
    }
    .main-footer{
        width: 100vw;
        position: fixed;
        bottom: 0;
        .contact{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding: 32px 0 16px;
            font-size: 14px;
            padding: 11px 85px;
            margin-top: auto;
            .aboutus, .contactus{
                color: #1F7A54;
                font-weight: bold;
            }
            .divide{
                padding: 0 4px;
            }
        }
        .footer{
            background-color: #E0E1E1;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            margin-bottom: 0px;
            .logo-footer{
                margin-right: 16px;
            }
            .divider{
                margin-right: 16px;
            }
            .copyright{
                margin-right: 8px;
                font-size: 12px;
                color: #616161;
            }
            .zeus{
                margin-right: 11px;
                font-size: 12px;
                font-weight: bold;
                color: #616161;
            }
            .rights{
                font-size: 12px;
                font-weight: 400;
                color: #616161;
            }
        }
    }
}
